nav {
    display: flex;
    justify-content: space-between;
    border-bottom: solid;
    background-color: black;

    .logo {
        height: 100px;
    }

    .nav-items {
        flex: 1 1 auto;
    }

    .nav-actions {
        flex: 1 1 auto;
    }
}
